@import "../../sass/_typography.scss";
@import "../../sass/_variables";
.lists {
    background-color: #f7f7f7;
    font-family: $roboto-font;
    font-style: normal;
    padding: 5rem;
    color: $neutral-black-color;
    h1 {
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
    }
    ul {
        list-style: none;
        padding-top: 3.75rem;
        li {
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            padding: 1.25rem 18rem 1.25rem 1.5rem;
            position: relative;
            &:nth-child(2n + 1) {
                background-color: #ededed;
            }
            &:nth-child(2n) {
                background-color: #f2f2f2;
            }
            &:hover {
                border: 2px solid $neutral-black-color;
            }
            a {
                display: block;
                position: absolute;
                top: 30%;
                transform: translateX(-50%);
                right: 6px;
                text-decoration: none;
                font-family: $roboto-font;
                color: $neutral-black-color;
                font-weight: 500;
                font-size: 16px;
                line-height: 24px;
                &::before {
                    content: "";
                    background-image: url("../../../public/assets/icon/edit.svg");
                    background-repeat: no-repeat;
                    background-position: 30% 0;
                    padding-left: 35px;
                    padding-bottom: 5px;
                }
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}
